.button {
  color: var(--basic-white);
  background-color: var(--basic-green);
  text-align: center;
  display: block;
  padding: 5px;
  text-transform: uppercase;
}

.button--choose-program {
  position: absolute;
  bottom: 0;
  margin: 0 auto;
  width: 280px;
  height: 40px;

  padding: 7px 44px;

  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 27px;

  &:hover {
    background-color: var(--basic-light-green);
  }

  &:active {
    color: transparentize(white, 0.7);
    background-color: var(--basic-light-green);
  }

  @media (min-width: $tablet-width) {
    position: relative;
    margin: 0;
    padding: 5px;
    margin-left: 82px;
    width: 244px;
    height: 54px;
    font-family: "Oswald", "Arial", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 45px;
  }
}

.button--order {
  min-width: 280px;
  min-height: 40px;
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 29px;

  color: var(--basic-white);
  margin: 0;

  &:hover {
    background-color: var(--basic-light-green);
  }

  &:active {
    color: transparentize(white, 0.7);
    background-color: var(--basic-light-green);
  }

  @media (min-width: $tablet-width) {
    margin: 0;
    min-width: 248px;
    line-height: 31px;
  }

  @media (min-width: $desktop-width) {
    min-width: 168px;
  }
}

.button--show {

  min-width: 279px;
  min-height: 40px;

  background: var(--basic-gray);
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 32px;

  color: var(--basic-special-gray);
  margin-top: auto;

  &:hover {
    background-color: var(--basic-light-gray);
  }

  &:active {
    color: transparentize(black, 0.7);
    background-color: var(--basic-light-gray);
  }

  @media (min-width: $tablet-width) {
    min-width: 249px;
  margin-top:63px;
  }

  @media (min-width: $desktop-width) {
    min-width: 168px;
  margin-top:67px;
  }
}

.button--form {
  min-width: 280px;
  min-height: 40px;
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 32px;
  border: none;

  color: var(--basic-white);
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    min-width: 282px;
    min-height: 52px;
    margin: 0;
    font-size: 20px;
    line-height: 32px;
  }

  @media (min-width: $desktop-width) {
    width: 568px;
    min-height:52px;
    font-size: 20px;
    line-height: 20px;
  }
}
