.card-more {
  padding: 20px 20px;
  text-align: center;
  padding-top: 79px;
  background-image: url("../img/icon-plus.svg");
  background-size: 30px 30px;
  background-repeat: no-repeat;
  background-position: 50%, 50%;
  border-bottom: 1px solid var(--basic-light-gray);
}

.card-more__title {
  font-family: "Oswald";
  font-style: normal;
  font-weight: 200;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;

  color: var(--basic-light-black);
}

.card-more__description {
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;

  color: var(--basic-special-gray);
}
