.catalog {
  background-color: var(--basic-white);
  padding: 0 calc((100% - 320px) / 2);

  @media (min-width: $tablet-width) {
    padding: 20px calc((100% - 768px) / 2);
  }

  @media (min-width: $desktop-width) {
    padding: 0 calc((100% - 1440px) / 2);
    padding-top: 20px;
  }
}

.catalog__title {
  padding-top: 27px;
  padding-bottom: 40px;
  padding-left: 20px;
  margin: 0;
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 36px;
  text-align: left;
  border-top: 1px solid var(--basic-silver);
  color: var(--basic-black);

  @media (min-width: $tablet-width) {

    padding: 28px 0 165px;
    margin: 0 30px;
    text-align: left;
    font-family: "Oswald", "Arial", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 60px;
    line-height: 60px;
    border: none;
  }

  @media (min-width: $desktop-width) {
    padding-top: 44px;
    padding-bottom: 166px;
    margin: 0 110px;
  }
}

.catalog__list {
  padding: 0;
  margin: 0;
  list-style: none;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 59px;
    grid-row-gap: 140px;
    padding: 0 calc((100% - 768px) / 2);
    margin: 0 30px;
  }

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 80px;
    grid-row-gap: 144px;
    margin: 0 110px;
    padding: 0;
  }
}

@media (min-width: $tablet-width) {
  .catalog__item {
    display: flex;
    flex-direction: column;
  }
}
