.contacts {
  position: relative;

  @media (min-width: $tablet-width) {
    background-color: var(--basic-gray);
  }
}

.contacts__wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 29px 20px;

  @media (min-width: $tablet-width) {

    justify-items: start;
    min-height: 201px;
    padding: 20px 72px;
    background-color: var(--basic-gray);
  }

  @media (min-width: $desktop-width) {

    padding: 5px 22px;
    color: black;
    background-color: white;
    min-width: 568px;
    min-height: 200px;
    position: absolute;
    top: 93px;
    left: 112px;
    justify-items: center;
    align-items: center;
  }
}

.contacts__description {
  margin: 0;
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;

  text-transform: uppercase;

  color: var(--basic-light-black);

  @media (min-width: $tablet-width) {
    text-align: left;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 25px;
    justify-items: start;
    margin-top: 46px;
  }

  @media (min-width: $desktop-width) {
    padding: 25px;
    font-family: "Oswald", "Arial", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 26px;
    text-align: left;
    margin-top: 9px;
    max-width: 285px;
  }
}

.contacts__address {
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  text-align: left;

  color: var(--basic-special-gray);

  @media (max-width: $mobile-width-only) {
    br {
      display: none;
    }
  }

  @media (min-width: $tablet-width) {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    text-align: right;
    justify-self: end;
    align-self: start;
    margin-top: 45px;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
    font-family: "Arial", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    text-align: left;
    justify-self: start;
    align-self: start;
    margin-top: 60px;
    margin-left: 41px;
    max-width: 285px;
  }
}

.contacts__map {
  height: 362px;
  background-image: url("../img/map-pin.png"),
    url("../img/bg-map-mobile@1x.png");
  background-repeat: no-repeat;
  background-position: 131px 136px, 0 0;
  background-size: 59px 53px, 100%;
  background-color: var(--basic-special-gray);

  @media (min-resolution: 2dppx) {
    background-image: url("../img/map-pin.png"),
      url("../img/bg-map-mobile@2x.png");
    background-repeat: no-repeat;
    background-position: 131px 136px, 0 0;
    background-size: 59px 53px, 100%;
  }

  @media (min-width: $tablet-width) {
    height: 400px;

    background-image: url("../img/map-pin.png"),
      url("../img/bg-map-tablet@1x.png");
    background-position: 319px 146px, 0 0;
    background-size: 128px 106px, 100%;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/map-pin.png"),
        url("../img/bg-map-tablet@2x.png");
      background-position: 319px 146px, 0 0;
      background-size: 128px 106px, 100%;
    }
  }

  @media (min-width: $desktop-width) {
    @media (min-resolution: 2dppx) {
      background-image: url("../img/map-pin.png"),
        url("../img/bg-map-desktop@2x.png");
      background-position: 902px 131px, 0 0;
      background-size: 115px 101px, 100%;
    }

    background-image: url("../img/map-pin.png"),
      url("../img/bg-map-desktop@1x.png");
    background-position: 902px 131px, 0 0;
    background-size: 115px 101px, 100%;
  }
}

.contacts__pic {
  display: block;
  width: 100%;
  height: 362px;

  @media (min-width: $tablet-width) {

    height: 400px;
  }
}

.contacts__iframe {
  width: 100%;
  height: 100%;
}
