.copyright {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 28px 20px 32px 20px;
}


.copyright__text {
  color: var(--basic-special-gray);
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;

  color: var(--basic-special-gray);
}
