.footer {
  background-color: var(--basic-light-silver);
}

.footer__wrapper {
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: row;
    margin: 0;
  align-items: center;
  }
}

.footer__logo-title {
  padding-top: 39px;
  padding-bottom: 39px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    margin: 0;
    margin-right: 160px;
  }
}
