.footer {
  background-color: var(--basic-light-silver);
}

.footer__wrapper {
  display: flex;
  flex-direction: column;
  align-items: baseline;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: row;
    margin: 0;
    padding-top: 22px;
    align-items: center;
  }

  @media (min-width: $desktop-width) {
    padding-top: 22px;
  }
}

.footer__logo-title {
  padding: 35px 0 28px 0;
  margin: 0 auto;

  @media (min-width: $tablet-width) {

    padding: 38px 0 28px 0;
    margin: 0;
    margin-right: 158px;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
    margin-right: 413px;
  }
}
