.form-contacts {
  padding: 0 20px;
  padding-top: 10px;

  @media (min-width: $tablet-width) {
    padding: 0 68px;
  }

  @media (min-width: $desktop-width) {
    padding: 0 110px;
  }
}

.form-contacts__title {
  margin-top: 16px;
  margin-bottom: 32px;

  @media (min-width: $tablet-width) {
    margin-top: 15px;
    margin-bottom: 75px;
    font-size: 36px;
    line-height: 36px;
  }
}

.form-contacts__title::before {
  @media (min-width: $tablet-width) {
    content: "";
    position: absolute;
    top: 37px;
    left: 0;
    width: 30px;
    height: 3px;
    background-color: var(--basic-green);
  }

  @media (min-width: $desktop-width) {
    width: 70px;
  }
}

.form-contacts__title::after {
  display: block;
  content: "";
  flex-grow: 1;
  flex-shrink: 0;
  height: 2px;
  margin-left: 21px;
  margin-right: -20px;
  margin-top: 7px;
  background-color: var(--basic-green);

  @media (min-width: $tablet-width) {
    margin-left: 36px;
    margin-right: -68px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 34px;
    margin-right: -110px;
    margin-top: 8px;
  }
}

.form-contacts__label {
  padding-bottom: 15px;

  @media (min-width: $tablet-width) {
    padding-bottom: 19px;
    font-size: 20px;
    line-height: 30px;
  }
}

.form-contacts__input {
  margin-left: 13px;

  @media (min-width: $tablet-width) {
    margin-left: 20px;
    padding-top: 9px;
    padding-bottom: 11px;
    padding-left: 23px;
    font-size: 20px;
    line-height: 30px;
    text-transform: uppercase;
    border-color: var(--basic-soft-gray);
    color: var(--basic-special-gray);
  }

  &:hover {
    border-color: var(--basic-soft-gray);
  }

  &:active {
    border-color: var(--basic-special-gray);
  }

  &:invalid {
    border-color: var(--basic-pink);
  }
}

.form-contacts__input--mail {
  background-image: url("../img/icon-mail.svg");
  background-repeat: no-repeat;
  background-size: 20px 14px;
  background-position: right 16px center;


  @media (min-width: $tablet-width) {
    margin-left: 20px;
    padding-left: 21px;
  }

  @media (min-width: $desktop-width) {
    width: 486px;
    background-position: right 15px center;
  }

  &:hover {
    border-color: var(--basic-soft-gray);
  }

  &:active {
    background-image: url("../img/icon-mail-active.svg");
  }

  &:invalid {
    background-image: url("../img/icon-mail-error.svg");
  }
}

.form-contacts__input--phone {
  margin-left: 11px;
  padding-left: 15px;
  background-image: url("../img/icon-phone.svg");
  background-repeat: no-repeat;
  background-size: 20px 20px;
  background-position: right 11px center;

  @media (min-width: $tablet-width) {
    margin-left: 15px;
    padding-left: 19px;
    background-position: right 14px center;
  }

  @media (min-width: $desktop-width) {
    width: 471px;
    padding-left: 16px;
  }

  &:hover {
    border-color: var(--basic-soft-gray);
  }

  &:active {
    background-image: url("../img/icon-phone-active.svg");
  }

  &:invalid {
    background-image: url("../img/icon-phone-error.svg");
  }
}
.form-contacts__input:placeholder-shown {
  border: 1px solid var(--basic-lightest-gray);
}

.form-contacts__wrapper {
  @media (min-width: $desktop-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}
