.form-comment {
  padding-top: 12px;

  @media (min-width: $tablet-width) {
    padding: 48px 68px 14px 68px;
  }

  @media (min-width: $desktop-width) {
    padding: 48px 110px 14px 110px;
  }
}

.form-comment__title {
  margin: 0;
  margin-bottom: 34px;

  @media (min-width: $tablet-width) {
    font-size: 36px;
    line-height: 36px;
    margin-bottom: 75px;
  }

  @media (min-width: $desktop-width) {

    margin-bottom: 77px;
  }
}

.form-comment__title::before {
  @media (min-width: $tablet-width) {
    content: "";
    position: absolute;
    top: 70px;
    left: 0;
    width: 30px;
    height: 2px;
    background-color: var(--basic-green);
  }

  @media (min-width: $desktop-width) {

    width: 70px;
  }
}

.form-comment__title::after {
  content: "";
  position: absolute;
  top: 27px;
  right: 0;
  width: 158px;
  height: 2px;
  margin-left: 10px;
  background-color: var(--basic-green);

  @media (min-width: $tablet-width) {

    top: 69px;
    right: 0;
    width: 482px;
  }

  @media (min-width: $desktop-width) {
    top: 72px;
    right: 0;
    width: 1108px;
  }
}

.form-comment__comment {
  width: 100%;
  min-height: 150px;
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  border: 1px solid var(--basic-lightest-gray);
  resize: none;
  padding: 12px 13px 13px 14px;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {

    font-size: 20px;
    line-height: 30px;
    padding: 9px 18px 9px 18px;
    min-height: 174px;
  }
}
