.form-info {
  padding: 0 20px;
  padding-bottom: 9px;

  @media (min-width: $tablet-width) {
    padding: 67px 70px 51px 70px;
  }

  @media (min-width: $desktop-width) {
    width: 58%;
    padding: 67px 33px 0 110px;
  }
}

.form-info__input {
  margin-left: 15px;
  padding-left: 15px;

  @media (min-width: $tablet-width) {
    padding-left: 18px;
    padding-bottom: 9px;
    padding-top: 9px;
    margin-left: 18px;
    font-size: 20px;
    line-height: 30px;
  }


  @media (min-width: $desktop-width) {
    padding-bottom: 11px;
    padding-top: 8px;
  }

  &:hover {
    border-color: var(--basic-soft-gray);
  }

  &:active {
    border-color: var(--basic-special-gray);
  }

  &:invalid {
    border-color: var(--basic-pink);
  }
}

.form-info__input:placeholder-shown {
  border: 1px solid var(--basic-lightest-gray);
}

.form-info__label {
  padding-bottom: 15px;

  @media (min-width: $tablet-width) {
    padding-bottom: 22px;
    font-size: 20px;
    line-height: 30px;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 21px;
  }
}
