.header {
  margin: 0 auto;
}

.header--catalog {
  background-color: var(--basic-white);
}

.header--form {
  background-color: var(--basic-white);
}

.header__logo {
  padding-top: 18px ;
  padding-bottom:14px ;
}
