.live-example {
  padding: 0 20px;
  background-color: var(--basic-light-silver);
  margin: 0;

  @media (min-width: $tablet-width) {
    background-color: var(--basic-white);
  }

  @media (min-width: $desktop-width) {
    display: flex;
    justify-content: space-between;
  }
}

.live-example__title {
  padding-top: 20px;
  padding-bottom: 20px;
  margin: 0;
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 40px;

  text-align: left;

  color: var(--bacic-black);
}

.live-example__description {
  margin: 0;
  padding-bottom: 20px;
}

.live-example__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;


  @media (min-width: $tablet-width) {
    display: flex;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    flex-direction: column;
    width: 450px;
  }
}

.live-example__wrapper-intaractive {

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;


  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: column;
  }
}

.live-example__block {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.live-example__left-block {
  position: relative;
}

.live-example__right-block {
  position: relative;
}

.live-example__numbers {
  display: block;
  width: 124px;
  height: 56px;
  padding: 14px 20px;
  margin-bottom: 25px;
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 24px;

  text-align: center;
  text-transform: uppercase;

  color: #000000;

  border: 1px solid var(--basic-soft-gray);
  border-radius: 3px;
}

.live-example__note {

  display: block;
  width: 87px;
  background-color: var(--basic-light-silver);
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 12px;
  align-items: center;
  text-align: center;

  color: var(--basic-special-gray);


  @media (min-width: $tablet-width) {
    background-color: var(--basic-white);
  }
}

.live-example__note--weight {
  padding: 0 3px;
  position: absolute;
  top: 35px;
  left: 0px;
}

.live-example__note--date {
  position: absolute;

  top: 37px;
  left: 21px;
}

.live-example__total {

  margin: 0 auto;
  padding-bottom: 20px;
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;

  text-align: center;
  text-transform: uppercase;

  color: var(--basic-black);
}

.live-example__boris {
  background-color: var(--basic-light-silver);
}

.live-example__boris--after {
  display: none;
}
