.live-example {
  margin: 0;
  background-color: var(--basic-light-silver);
  padding: 0 calc((100% - 320px) / 2);
  padding-bottom: 15px;

  @media (min-width: $tablet-width) {
    padding: 0;
    background-color: var(--basic-white);
    border-top: 1px solid var(--basic-soft-silver);
  }

  @media (min-width: $desktop-width) {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0 calc((100% - 1440px) / 2);
    padding-bottom: 2px;
    background: linear-gradient(180deg, var(--basic-white) 25%, var(--basic-gray) 25%);
    border-top: none;
  }
}

.live-example__title {
  padding-top: 27px;
  padding-bottom: 33px;
  margin: 0;
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 40px;
  text-align: left;
  color: var(--bacic-black);

  @media (min-width: $tablet-width) {
    padding: 0 calc((100% - 768px) / 2);
    padding-bottom: 64px;
    padding-top: 39px;
    font-family: "Oswald", "Arial", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 60px;
    line-height: 60px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 18px;
    padding-bottom: 147px;
    margin-left: 80px;
  }
}

.live-example__description {
  margin: 0;
  padding-bottom: 25px;
  padding-right: 5px;

  font-family: "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;

  @media (min-width: $tablet-width) {
    padding: 0 calc((100% - 768px) / 2);
    padding-bottom: 53px;
    font-family: "Arial", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
  }

  @media (min-width: $desktop-width) {
    padding: 0 0 20px 80px;
  }
}

.live-example__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 20px;

  @media (min-width: $tablet-width) {
    margin: 0 30px;
    margin-bottom: 229px;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 437px;
    padding: 0;
    margin-bottom: 55px;
  }
}

.live-example__interactive {

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 20px;

  @media (min-width: $tablet-width) {
    padding: 0 calc((100% - 768px) / 2);
    margin: 0;
    padding-bottom: 1px;
    background-color: var(--basic-light-silver);
  }

  @media (min-width: $desktop-width) {
    width: 940px;
    justify-content: start;
    padding: 0;
    background-color: transparent;
  }
}

.live-example__wrapper_img {
  @media (min-width: $tablet-width) {
    margin-top: -169px;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
    margin-top: -35px;
  }
}

.live-example__block {
  display: flex;
  flex-wrap: wrap;
  width: 100%;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    padding: 0 calc((100% - 768px) / 2);
  }

  @media (min-width: $desktop-width) {
    margin-left: 81px;
  }
}

.live-example__left-block {
  position: relative;
  margin-right: 32px;

  @media (min-width: $tablet-width) {
    margin-right: 42px;
  }
}

.live-example__right-block {
  position: relative;
}

.live-example__numbers {
  display: block;
  width: 124px;
  height: 56px;
  padding: 14px 20px;
  margin-bottom: 25px;
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 24px;
  text-align: center;
  text-transform: uppercase;
  color: var(--basic-black);
  border: 1px solid var(--basic-soft-gray);
  border-radius: 3px;

  @media (min-width: $tablet-width) {
    width: 162px;
    height: 72px;
    font-size: 30px;
    line-height: 37px;
  }
}

.live-example__note {
  display: block;
  align-items: center;
  width: 87px;
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 12px;
  text-align: center;
  color: var(--basic-special-gray);
  background-color: var(--basic-light-silver);

  @media (min-width: $tablet-width) {
    width: 129px;
    font-size: 14px;
    line-height: 14px;
    background-color: var(--basic-white);
  }

  @media (min-width: $desktop-width) {
    width: 142px;
    font-size: 14px;
    line-height: 14px;
    background-color: var(--basic-gray);
  }
}

.live-example__note--weight {
  position: absolute;
  padding: 0 3px;
  top: 48px;
  left: 17px;

  @media (min-width: $tablet-width) {
    top: 63px;
    left: 16px;
  }

  @media (min-width: $desktop-width) {
    left: 10px;
  }
}

.live-example__note--date {
  position: absolute;

  top: 48px;
  left: 18px;

  @media (min-width: $tablet-width) {
    top: 63px;
    left: 16px;
  }

  @media (min-width: $desktop-width) {
    left: 10px;
  }
}

.live-example__total {
  margin: 0 auto;
  padding-top: 10px;
  padding-bottom: 20px;
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: var(--basic-black);

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin: 0;
    margin-left: auto;
    padding-top: 11px;
    font-family: "Oswald", "Arial", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 20px;
  }

  @media (min-width: $desktop-width) {
    flex-direction: row;
    width: 436px;
    padding-top: 35px;
    margin: 0;
  }
}

.live-example__total-info {
  @media (min-width: $tablet-width) {
    padding-bottom: 10px;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
    margin-right: 64px;
  }
}

.live-example__boris {
  display: block;
  max-width: initial;
  margin-top: 14px;
  margin-left: -20px;

  @media (min-width: $tablet-width) {
    height: 620px;
    width: 354px;
    margin: 0;
  }
}

.live-example__boris--after {
  @media (max-width: $mobile-width-only) {
    display: none;
  }

  @media (min-width: $tablet-width) {
    height: 519px;
    width: 781px;
    margin-left: -100%;
    object-fit: contain;
    overflow: hidden;
  }

  @media (min-width: $desktop-width) {
    height: 516px;
    width: 722px;
    margin-left: -162%;
    object-fit: contain;
    overflow: hidden;
  }
}

.live-example__boris--before {
  @media (min-width: $tablet-width) {
    height: 520px;
    width: 782px;
    margin: 0;
    object-fit: contain;
    overflow: hidden;
  }

  @media (min-width: $desktop-width) {
    height: 518px;
    width: 1056px;
  }
}

.live-example__scale {
  position: relative;
}

.live-example__wrapper-left {
  @media (min-width: $tablet-width) {
    width: 50%;
    overflow: hidden;
  }

  @media (min-width: $desktop-width) {
    width: 58%;
  }
}

.live-example__wrapper-right {
  @media (min-width: $tablet-width) {
    width: 50%;
    overflow: hidden;
  }

  @media (min-width: $desktop-width) {
    width: 25%;
    overflow: hidden;
    text-align: right;
  }
}
