.live-example {
  padding: 0 20px;
  background-color: var(--basic-light-silver);
  margin: 0;
  padding-bottom:16px;

  @media (min-width: $tablet-width) {
    background-color: var(--basic-white);
    padding: 0;
    border-top: 1px solid var(--basic-soft-silver);
  }

  @media (min-width: $desktop-width) {
    background-color: var(--basic-gray);
    display: flex;
    justify-content: space-between;
    padding: 0 110px;
  }
}

.live-example__title {
  padding-top: 26px;
  padding-bottom: 34px;
  margin: 0;
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 40px;

  text-align: left;

  color: var(--bacic-black);

  @media (min-width: $tablet-width) {
    padding-bottom: 64px;
    padding-top: 40px;
    font-family: "Oswald", "Arial", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 60px;
    line-height: 60px;
  }
}

.live-example__description {
  margin: 0;
  padding-bottom: 24px;
  padding-right: 5px;

  font-family: "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;

  @media (min-width: $tablet-width) {
    font-family: "Arial", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    padding-right: 7px;
    padding-bottom: 53px;
  }
}

.live-example__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
   @media (min-width: $tablet-width) {
    padding: 0 30px;
   }

  @media (min-width: $desktop-width) {
    display: flex;
    flex-direction: column;
    width: 450px;
  }
}

.live-example__wrapper-interactive {

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;


  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: column;
    height: 693px;
    background-color: var(--basic-light-silver);
    padding: 0 30px;
  }
}

.live-example__block {
  width: 100%;
  display: flex;
  flex-wrap: wrap;

  @media (min-width: $tablet-width) {

    flex-direction: row;
  }
}

.live-example__left-block {
  position: relative;
  margin-right: 32px;


  @media (min-width: $tablet-width) {
    margin-right: 42px;
  }
}

.live-example__right-block {
  position: relative;
}

.live-example__numbers {
  display: block;
  width: 124px;
  height: 56px;
  padding: 14px 20px;
  margin-bottom: 25px;
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 24px;

  text-align: center;
  text-transform: uppercase;

  color: #000000;

  border: 1px solid var(--basic-soft-gray);
  border-radius: 3px;

  @media (min-width: $tablet-width) {
    width: 162px;
    height: 72px;
    font-size: 30px;
    line-height: 37px;
  }
}

.live-example__note {

  display: block;
  width: 87px;
  background-color: var(--basic-light-silver);
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 12px;
  align-items: center;
  text-align: center;

  color: var(--basic-special-gray);

  @media (min-width: $tablet-width) {
    background-color: var(--basic-white);
    width: 129px;
    font-size: 14px;
    line-height: 14px;
  }

  @media (min-width: $desktop-width) {
    background-color: var(--basic-gray);
    width: 142px;
    font-size: 14px;
    line-height: 14px;
  }
}

.live-example__note--weight {
  padding: 0 3px;
  position: absolute;
  top: 48px;
  left: 17px;

  @media (min-width: $tablet-width) {
    top: 63px;
    left: 16px;

  }
}

.live-example__note--date {
  position: absolute;

  top: 48px;
  left: 18px;

  @media (min-width: $tablet-width) {
    top: 63px;
    left: 16px;
  }
}

.live-example__total {

  margin: 0 auto;
  padding-top: 10px;
  padding-bottom: 20px;
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;

  text-align: center;
  text-transform: uppercase;

  color: var(--basic-black);

  @media (min-width: $tablet-width) {

    font-family: "Oswald", "Arial", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin: 0;
    margin-left: auto;
  }

  @media (min-width: $desktop-width) {
    width: 436px;
    flex-direction: row;
  }
}

.live-example__total-info {
  @media (min-width: $tablet-width) {
    padding-bottom: 10px;
  }
}

.live-example__boris {
  background-color: var(--basic-light-silver);
}

.live-example__boris--after {
  display: none;
}
