.main-contacts {
  background-color: var(--basic-gray);

  @media (min-width: $tablet-width) {
    background-color: var(--basic-white);
  }

  @media (min-width: $desktop-width) {
    padding: 0 110px;
  }
}
