.page-advantages {
  padding: 0 20px;
  padding-bottom: 20px;
  background-color: var(--basic-white);
  margin: 0;
}

.page-advantages__title {
  margin: 0;
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 40px;

  text-align: left;

  color: var(--basic-black);
}

.page-advantages__list {
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    justify-content: space-between;
  }
}
