.page-promo {
  background-image: url("../img/index-can-mobile@1x.png"),
    url("../img/index-background-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: bottom 25px center, top center;
  height: 480px;
  padding: 0 20px;
  position: relative;
  background-color: transparent;


  @media (max-width: $mobile-width-only) {
    background-color: var(--basic-white);
  }

  @media (min-width: $tablet-width) {
    min-height: 750px;
    padding: 0 30px;
    background-image: url("../img/index-can-tablet@1x.jpg");
    background-position: bottom 25px center, top center;
    background-color: var(--basic-white);
  }

  @media (min-width: $desktop-width) {
    min-height: 585px;
    padding: 0 110px;
    background-image: url("../img/index-can-desktop@1x.png");
    background-position: top 50px right 380px;
    background-color: transparent;

  }
}

.page-promo__title {
  padding-top: 27px;
  padding-bottom: 25px;
  margin: 0;
  color: var(--basic-white);
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 36px;

  text-align: center;


  @media (min-width: $tablet-width) {
    color: var(--basic-black);
    text-align: left;
    padding-left: 60px;
    padding-right: 350px;
  }
}

.page-promo__slogan {
  color: var(--basic-white);
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 14px;

  text-align: center;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    color: var(--basic-black);
    text-align: left;
    padding-left: 60px;
    padding-right: 350px;
    margin: 0;
    margin-bottom: 20px;
  }
}
