.page-advantages {
  padding: 0 20px;
  padding-bottom: 22px;
  background-color: var(--basic-white);
  margin: 0;

  @media (min-width: $tablet-width) {
    padding: 0 30px;
  }

  @media (min-width: $desktop-width) {
    padding: 0 110px;
  }
}

.page-advantages__title {
  padding-bottom: 38px;
  margin: 0;
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 40px;

  text-align: left;

  color: var(--basic-black);

  @media (min-width: $tablet-width) {
    padding-top: 44px;
    padding-bottom: 45px;
    font-family: "Oswald", "Arial", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 60px;
    line-height: 60px;
  }

  @media (min-width: $desktop-width) {

    padding-top: 71px;
    padding-bottom: 45px;
  }
}

.page-advantages__list {
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}
