.page {
  height: 100%;
  width: 320px;
  margin: 0 auto;
  background-color: var(--basic-background-gray);

  @media (min-width: $tablet-width) {
    width: $tablet-width;
  }

  @media (min-width: $desktop-width) {
    width: $desktop-width;
  }
}

.page__header {
  margin: 0;
  background-color: var(--basic-white);
  height: auto;
  display: flex;
  flex-direction: column;
  padding: 0 20px;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    justify-content: space-between;
  }
}
