.page-promo {
  background-image: url("../img/index-can-mobile@1x.png"),
    url("../img/index-background-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: bottom 42px center, top center;
  height: 480px;
  padding: 0 20px;
  position: relative;
  background-color: transparent;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/index-can-mobile@2x.png"),
      url("../img/index-background-mobile@2x.jpg");
    background-size: 280px 270px, 320px 305px;
  }

  @media (max-width: $mobile-width-only) {
    background-color: var(--basic-white);
  }

  @media (min-width: $tablet-width) {
    min-height: 859px;
    padding: 0 30px;
    background-image: url("../img/index-can-tablet@1x.jpg");
    background-position: top 249px center, top center;
    background-color: var(--basic-white);

    @media (min-resolution: 2dppx) {
      background-image: url("../img/index-can-tablet@2x.jpg");
      background-size: 709px 609px;
    }
  }

  @media (min-width: $desktop-width) {
    min-height: 516px;
    padding: 0 110px;
    margin-bottom: 12px;
    background-image: none;
    background-color: transparent;
  }
}

.page-promo__title {
  padding-top: 28px;
  padding-bottom: 12px;
  margin: 0;
  color: var(--basic-white);
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 36px;
  text-align: center;

  @media (min-width: $tablet-width) {
    padding-top: 47px;
    padding-left: 88px;
    padding-right: 190px;
    padding-bottom: 41px;
    font-style: normal;
    font-weight: normal;
    font-size: 60px;
    line-height: 60px;
    color: var(--basic-black);
    text-align: left;
  }

  @media (min-width: $desktop-width) {
    padding-top: 56px;
    padding-left: 81px;
    padding-right: 565px;
    padding-bottom: 39px;
  }
}

.page-promo__slogan {
  color: var(--basic-white);
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 14px;
  text-align: center;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    padding-left: 89px;
    margin: 0;
    margin-bottom: 49px;
    font-family: "Oswald", "Arial", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 20px;
    color: var(--basic-black);
    text-align: left;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 52px;
    padding-left: 80px;
  }
}
