.product-card {
  border-top: 1px solid var(--basic-light-gray);
  padding: 20px 0;

  @media (min-width: $tablet-width) {
    border: none;
    padding: 0;
  }
}

.product-card__wrapper {
  display: flex;
  flex-direction: row;
  padding: 20px 20px;

  @media (min-width: $tablet-width) {
    background-color: var(--basic-gray);
    display: flex;
    flex-direction: column;
  }
}

.product-card__title {
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: 200;
  font-size: 16px;
  line-height: 20px;
  padding-right: 40px;

  align-items: center;
  text-transform: uppercase;
  text-align: left;

  color: var(--basic-darkest-gray);

  @media (min-width: $tablet-width) {
    text-align: center;
  }
}

.product-card__container {
  display: flex;
  flex-direction: column;
}

.product-card__info {

  font-family: "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;

  text-align: left;

  color: var(--basic-special-gray);
  border-collapse: collapse;

}

.product-card__right-block {
  text-align: right;
}

.product-card__right-block,
.product-card__left-block {
  @media (min-width: $tablet-width) {

    border-bottom: 1px solid var(--basic-soft-gray);
  }
}
