.program {
  margin: 0;
  list-style: none;
  padding: 0;
}

.program__title {
  margin: 0;

  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 37px;

  text-align: center;
  text-transform: uppercase;

  color: #000000;

  @media (min-width: $tablet-width) {
    text-align: left;
    font-weight: 200;
    font-size: 36px;
    line-height: 36px;
  }
}

.program__item {
  padding: 20px;
  background-color: var(--basic-gray);
  margin-top: 20px;

  @media (min-width: $tablet-width) {
    padding: 77px 282px 53px 53px;
    min-height: 372px;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
  }

  @media (min-width: $desktop-width) {
    width: 570px;
  }
}

.program__item--slim {
  background-image: url("../img/icon-cat_slim.svg");
  background-repeat: no-repeat;
  background-size: 50px 53px;
  background-position: 5px 10px;

  @media (min-width: $tablet-width) {

    background-size: 200px 211px;

    background-position: center right 35px;
  }
}

.program__item--mass {
  background-image: url("../img/icon-cat_pro.svg");
  background-repeat: no-repeat;
  background-size: 67px 50px;
  background-position: 5px 10px;

  @media (min-width: $tablet-width) {

    background-size: 268px 200px;
    background-position: center right 35px;
  }
}

.program__description {
  border-bottom: 1px solid var(--basic-silver);
  padding-bottom: 20px;

  @media (min-width: $tablet-width) {
    border: none;
    margin: 40px 0;
    padding: 0;
    font-family: "Arial", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
  }
}

.program__link {
  text-transform: uppercase;
  color: var(--basic-black);

  &:active {
    color: transparentize(black, 0.7);
  }

  @media (min-width: $tablet-width) {
    font-weight: 200;
    font-size: 20px;
    line-height: 30px;
  }
}
