.promo-gift {
  display: flex;
  align-items: flex-end;
  min-height: 289px;
  margin: 0 20px;
  margin-top: 39px;
  margin-left: 20px;
  text-align: center;
  background-size: 74px 60px, auto;
  background-position: top 65px center, center;
  background-image:
    url("../img/icon-gift.svg"),
    url("../img/gift-photo-mobile@1x.jpg");
  background-color: var(--basic-green);
  background-repeat: no-repeat;

  @media (min-resolution: 2dppx) {
    background-image:
      url("../img/icon-gift.svg"),
      url("../img/gift-photo-mobile@2x.jpg");
    background-size: 74px 60px, 280px 289px;
    background-position: top 65px, center;
  }

  @media (min-width: $tablet-width) {
    min-height: 200px;
    margin: 0 30px;
    margin-top: 70px;
    background-image:
      url("../img/icon-gift.svg"),
      url("../img/gift-photo-tablet@1x.jpg");
    background-position: left 88px top 66px, top;
    background-size: 60px 60px, cover;

    @media (min-resolution: 2dppx) {
      margin-top: 70px;
      background-image:
        url("../img/icon-gift.svg"),
        url("../img/gift-photo-tablet@2x.jpg");
      background-size: 60px 60px, cover;
    }
  }

  @media (min-width: $desktop-width) {
    width: 245px;
    padding-top: 130px;
    margin: 0;
    background-image:
      url("../img/icon-gift.svg"),
      url("../img/gift-photo-desktop@1x.jpg");
    background-size: 60px 60px, cover;
    background-position: 93px 63px, top;

    @media (min-resolution: 2dppx) {
      margin: 0;
      background-image:
        url("../img/icon-gift.svg"),
        url("../img/gift-photo-desktop@2x.jpg");
      background-size: 60px 60px, cover;
      background-position: 93px 63px, top;
    }
  }
}

.promo-gift__text {
  padding: 6px 58px 26px 58px;
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  color: var(--basic-white);


  @media (min-width: $tablet-width) {
    padding: 5px 100px 52px 49px;
    padding-left: 424px;
    text-align: left;
  }

  @media (min-width: $desktop-width) {
    padding: 28px 40px;
    text-align: center;
  }
}
