.promo-gift {
  width: 280px;
  height: 289px;
  background-image: url("../img/gift-photo-mobile@1x.jpg");
  margin: 0;
  padding: 20px 60px;
  padding-top: 170px;
  text-align: center;
}

.promo-gift__text {


  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  color: var(--basic-white);
}
