.promo-gift {
  background-image:
    url("../img/icon-gift.svg"),
    url("../img/gift-photo-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-size: 78px 80px, auto;
  background-position: top 50px center, center;
  margin: 0;
  margin-top: 20px;
  text-align: center;
  min-height: 289px;
  display: flex;
  align-items: flex-end;

  @media (min-width: $tablet-width) {
    min-height: 200px;

    background-image:
      url("../img/icon-gift.svg"),
      url("../img/gift-photo-tablet@1x.jpg");
    background-position: left 50px top 50px, top;
    background-size: 78px 80px, cover;
  }

  @media (min-width: $desktop-width) {
    width: 245px;
    background-image:
      url("../img/icon-gift.svg"),
      url("../img/gift-photo-desktop@1x.jpg");
    background-size: 80px 82px, auto;
    margin: 0;
  }
}

.promo-gift__text {
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  color: var(--basic-white);
  padding: 43px 58px;

  @media (min-width: $tablet-width) {
    text-align: left;
    padding-left: 400px;
  }

  @media (min-width: $desktop-width) {
    padding: 40px 40px;
    text-align: center;
  }
}
