.scale {
  display: flex;
  justify-content: space-around;
  margin: 0 45px;
  padding-bottom: 20px;
  padding-top: 31px;
  align-items: center;
  position: relative;

  @media (min-width: $tablet-width) {
    padding-bottom: 68px;
    padding-top: 11px;
    margin: 0 auto;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
    margin-left: 211px;
    padding-top: 32px;
  }
}

.scale__bar {
  position: relative;
  border: 1px solid var(--basic-soft-gray);
  border-radius: 6px;
  width: 84px;
  height: 14px;
  background-color: var(--basic-white);
  margin: 0 16px;

  @media (min-width: $tablet-width) {
    width: 428px;
    border: 1px solid var(--basic-soft-gray);
    background-color: var(--basic-soft-gray);
    margin: 0 22px;

    height: 5px;
  }

  @media (min-width: $desktop-width) {

    margin: 0 25px;
  }
}

.scale__bar::after {
  content: "";

  position: absolute;
  top: 3px;
  left: 5px;

  width: 35px;
  height: 6px;
  background-color: var(--basic-green);
  border: 1px solid var(--basic-green);
  border-radius: 6px;

  cursor: pointer;

  @media (min-width: $tablet-width) {
    content: "";

    position: absolute;
    top: -15px;
    left: 199px;

    width: 34px;
    height: 34px;
    background-color: var(--basic-green);
    border: 12px solid var(--basic-white);
    border-radius: 50%;
    box-shadow: 0 0 2px 2px var(--basic-light-silver),
    0 1px  3px 0  rgba(0,0,0,.84);

    cursor: pointer;
  }
}

  .scale__bar:hover::after{
    box-shadow: 0 0 2px 2px var(--basic-green),
    0 2px  4px 0  rgba(0,0,0,.81);
  }
  .scale__bar:active::after{
    box-shadow: 0 0 2px 2px var(--basic-green),
    0 3px  5px 0 rgba(0,0,0,.80);
  }
.scale__before,
.scale__after {

  &:hover{

    border-bottom: 1px solid var(--basic-black);
  }
  &:active{

    border-bottom: none;
  }
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: var(--basic-black);

  @media (min-width: $tablet-width) {
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 30px;
    border-bottom: 1px dotted var(--basic-soft-gray);
  }
}
