.selection-program {
  padding: 0 20px;

  background-color: var(--basic-white);
}

.selection-program__title {
  margin: 0;
  text-align: center;
  padding: 20px 0;
}

.selection-program__text {
  text-align: left;
  padding-right: 45px;
}
