.site-list {
  margin: 0;
  padding: 0;
  text-transform: uppercase;
  text-align: center;
  list-style: none;
}

.site-list__item {
  min-height: 66px;
  vertical-align: middle;
  color: var(--basic-black);
  border-top: 1px solid var(--basic-soft-silver);

  @media (min-width: $tablet-width) {
    min-height: 33px;
    border: none;
  }

  @media (min-width: $desktop-width) {
    min-height: 37px;
  }
}

@media (min-width: $tablet-width) {
  .site-list__item--active {
    border-bottom: 2px solid var(--basic-green);
  }

  .site-list__item--index-active {
    border-bottom: 2px solid var(--basic-green);
  }

  @media (min-width: $desktop-width) {
    .site-list__item--active {
      border-bottom: 2px solid var(--basic-green);
    }

    .site-list__item--index-active {
      border-bottom: 2px solid var(--basic-white);
    }
  }
}

.site-list__item:nth-child(2) {
  @media (min-width: $tablet-width) {
    margin-left: -2px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 0;
  }
}

.site-list__link {
  display: block;
  padding: 22px 20px;
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  color: var(--basic-black);
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    padding: 0;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;

    &:hover {
      color: transparentize(black, 0.4);
    }

    &:active {
      color: transparentize(black, 0.7);
    }
  }

  @media (min-width: $desktop-width) {
    color: var(--basic-black);
    font-family: "Oswald", "Arial", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 30px;

    &:hover {
      color: transparentize(black, 0.4);
    }

    &:active {
      color: transparentize(black, 0.7);
    }
  }
}

.site-list__link--index {
  color: var(--basic-black);

  @media (min-width: $desktop-width) {
    color: var(--basic-white);

    &:hover {
      color: transparentize(white, 0.4);
    }

    &:active {
      color: transparentize(white, 0.7);
    }
  }

  .site-list__link--active {
    @media (min-width: $tablet-width) {
      border-bottom: 2px solid var(--basic-green);
    }
  }
}
