.social {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  width: 268px;
  min-height: 62px;
  padding: 23px 48px 18px 54px;
  margin: 0 auto;
  border-bottom: 1px solid var(--basic-silver);
  border-top: 1px solid var(--basic-silver);
  list-style: none;

  @media (min-width: $tablet-width) {
    justify-content: space-between;
    align-items: center;
    width: 130px;
    padding: 0;
    padding-top: 6px;
    margin: 0;
    border: none;
  }

  @media (min-width: $desktop-width) {
    width: 131px;
    margin: 0;
    padding: 0;
    padding-top: 6px;
    border: none;
  }
}

.social__link {
  display: block;
  background-repeat: no-repeat;
  padding:2px;


  &:hover {
    fill: var(--basic-green);
  }

  &:active {
    fill: var(--basic-green);
    opacity: 0.3;
  }
}

.social__logo--vk {
  width: 23px;
  height: 16px;

  @media (min-width: $tablet-width) {
    width: 29px;
    height: 18px;
  }
}

.social__logo--instagram {
  width: 17px;
  height: 17px;

  @media (min-width: $tablet-width) {
    width: 22px;
    height: 25px;
  }

  @media (min-width: $desktop-width) {
    width: 22px;
    height: 22px;
  }
}

.social__logo--facebook {
  width: 29px;
  height: 19px;

  @media (min-width: $tablet-width) {
    width: 28px;
    height: 28px;
  }
}
