.social {
  min-width: 272px;
  min-height: 62px;
  list-style: none;
  padding: 22px 53px;
  padding-bottom: 18px;
  padding-left: 55px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 0 auto;
  align-items: center;
  border-bottom: 1px solid var(--basic-silver);
  border-top: 1px solid var(--basic-silver);

  @media (min-width: $tablet-width) {
    min-width: 129px;
    border: none;
    padding: 0;
    padding-top: 6px;
    justify-content: space-between;
    align-items: center;
    margin: 0;
  }

  @media (min-width: $desktop-width) {
    border: none;
    margin: 0;
  }
}

.social__link {
  display: block;
  background-repeat: no-repeat;


  &:hover {
    fill: var(--basic-green);
  }

  &:active {
    fill: var(--basic-green);
    opacity: 0.3;
  }
}

.social__logo--vk {
  width: 23px;
  height: 16px;

  @media (min-width: $tablet-width) {
    width: 29px;
    height: 18px;
  }
}

.social__logo--instagram {
  width: 25px;
  height: 17px;

  @media (min-width: $tablet-width) {
    width: 22px;
    height: 25px;
  }

  @media (min-width: $desktop-width) {
    width: 25px;
    height: 23px;
  }
}

.social__logo--facebook {

  width: 29px;
  height: 19px;

  @media (min-width: $tablet-width) {
    width: 28px;
    height: 28px;
  }
}
